<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 my-3 deck__title">
      Meus Baralhos
      <button mat-raised-button color="primary" routerLink="/new-deck">Novo Baralho</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 deck__list__item" *ngFor="let item of deckList">
      <div class="deck__list__item__delete-button">
        <button mat-mini-fab color="warn" aria-label="Delete card">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <app-deck-card [deckInfo]="item" (click)="editDeck(item.id)"></app-deck-card>
    </div>
  </div>
</div>
